@import "../src/app/page.scss";

.PresentationWrapper {
    background-color: var(--softBeige);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .PresentationImage {
        width: 60vw;
        background-color: red;
    }

    @media screen and (max-width: 769px) {}

}